.color-picker {
    margin-top: 1rem;;
    display: flex;
    width: 100%;
    gap: .75rem;
    justify-content: space-between;
}

.color-option input {
    display: none;
}

.color-circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color);
    cursor: pointer;
    box-shadow: inset 0 0 0 6px var(--shape-button);
    transition: box-shadow 0.2s;
}

.color-option:hover .color-circle {
    box-shadow: inset 0 0 0 6px var(--shape-hover);
}

.color-option:has(input:checked) .color-circle {
    outline: 2px solid var(--brand-light);
    outline-offset: 2px;
    box-shadow: inset 0 0 0 6px var(--shape-hover);
}

#brand-light{
    --color: var(--brand-light);
}

#navy{
    --color: var(--navy);
}

#purple{
    --color: var(--purple);
}

#fuschia{
    --color: var(--fuschia);
}

#pink{
    --color: var(--pink);
}

#danger{
    --color: var(--danger);
}

#orange{
    --color: var(--orange);
}

#yellow{
    --color: var(--yellow);
}

#lime{
    --color: var(--lime);
}

#green{
    --color: var(--green);
}

#cyan{
    --color: var(--cyan);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 8.37rem);
    gap: .75rem;
}
.card{
    & .card-option{
        display: grid;
        background-color: var(--shape-button);
        height: 100%;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        border-radius: .5rem;
        gap: .5rem;
        input{
            display: none;
        }
        img{
            align-self: center;
        }
        &:has(input:checked){
            box-shadow: 0 0 0 2px var(--brand-light);
        }
        &:hover{
            background-color: var(--shape-hover);
        }
    }

    
}