.input-wrapper{
    display: grid;
    gap: .75rem;
}

legend{
    margin-bottom: 1.5rem;
}

input,textarea,select{
    padding: 13px 16px;
    appearance: none;
    background-color: var(--input-base);
    color: var(--input-placeholder);
    border: 1px solid var(--input-stroke);
}

label{
    margin-bottom: .75rem;
    display: block;
}

.radio-group {
    border: 1px solid var(--shape-button);
    background-color: var(--input-base);
    padding: 4px;
    border-radius: 8px;
    height: 3rem;
    width: 100%;
    max-width: 100%;
    gap: 4px;
    width: fit-content;
}

.type-wrapper {
    display: flex;
    flex: 1;
    width: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--input-placeholder);
    font: var(--Body-sm);
    transition: all 0.5s;

    input { display: none; }

    .icon-checked { display: none; }

    &:has(input:checked) {
        background-color: var(--shape-hover);
        color: var(--shape-heading);

        .icon-default { display: none; }
        .icon-checked { display: block; }
    }
}