*{
  margin: 0;
  box-sizing: border-box;
}
#app {
  display: grid;
  grid-template-areas: 
  "A B B" 
  "A B B" 
  "A C D"; 
  gap: 30px;
  height: 100vh;

  padding: 30px;
  box-sizing: border-box;
}

#app > div {
  border: 1px solid green;
}

#app > div:nth-child(1){
  grid-area: A 
}

#app > div:nth-child(2){
  grid-area: B;
}

#app > div:nth-child(3){
  grid-area: C;
}

#app > div:nth-child(4){
  grid-area: D;
}

.grid{
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: black;

  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);  

  /*justify-content: space-between; /*alinhamento no eixo X (horizontal)*/
  /*align-content: space-between; /*alinhamento no eixo Y (verical)*/
  /*place-content: space-between; /*alinhamento em todos eixos*/

  /*content -> mexe com os componentes dentro da tag*/
  /*items -> mexe com os itens dentro dos componentes que estão dentro das tags*/
  /*self -> */


}

.grid > div{
  background-color: blanchedalmond;
}

.grid div:nth-child(2){
  align-self: start;
  justify-self: center;
}