body{
  margin: 0;
}
#app {
  display: grid;
  grid-template-areas: 
  "A B B" 
  "A B B" 
  "A C D"; 
  gap: 30px;
  height: 100vh;

  padding: 30px;
  box-sizing: border-box;
}

#app > div {
  border: 1px solid green;
}

#app > div:nth-child(1){
  grid-area: A 
}

#app > div:nth-child(2){
  grid-area: B;
}

#app > div:nth-child(3){
  grid-area: C;
}

#app > div:nth-child(4){
  grid-area: D;
}