* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-color:hsla(0, 0%, 100%, 0.562);

    --text-color: #313131;
    --text-color-secondary: #6c6c6c;

    --ff-primary: 'Poppins', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;

    --fs-lg: 2rem;
    --fs-md: 0.875rem;
    --fs-sm: 0.75rem;    
}

h1{
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-lg);
    line-height: 1.25;
}

img {
    max-width: 100%;
    display: inline-block;        
}

p{
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-md);
    line-height: 1.7;
}