header{
    padding: 1rem;
        
    background-color: var(--surface-color);

    & .logo{
        margin-right: auto;      
        img{
            width: 10.125rem;
            height: 2rem;
        }
    }

    & a{
        text-decoration: none;
        color: var(--text-color-secondary);
    }

    & a:hover{
        text-decoration: underline;
        color: var(--brand-color);
    }

    & .componentes-nav{
        align-items: center;
    }

    & nav .icon{
        background: url(../assets/icons/MagnifyingGlass.svg);
        cursor: pointer;
    }

    & nav .icon:hover{
        background: url(../assets/icons/MagnifyingHover.svg);   
    }    
}

#icon-profile{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

#profile{
    & img{
        width: 7.5rem;
        height: 7.5rem;
    }   
    & div:nth-child(1){
        display: grid;
        grid-auto-flow: row;
        max-width: 100%;
        gap: .5rem;
    }

    & .tags{
        margin-top: 2rem;
        width: 17.5rem;
    }

    & ul{
        display: grid;
        gap: 1rem;        
        & li{            
            list-style: none; 
            display: flex;          
            align-items: center; 
            color: var(--text-color-secondary); 
                   
            & img{
                margin-right: .5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    
}

@media (width >= 80em){
    header{
        padding: 1.25rem 2rem;
    }

    #profile{
        display: flex;
        justify-content: space-between;
        & img{
            width: 11rem;
            height: 11rem;
        }
        & div:nth-child(1){
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
            max-width: 37rem;
            gap: 1rem;     
            
            & div{
                width: 24rem;                
                height: 100%;
                
                & p{
                    margin-top: .5rem;                    
                }
            }
        }
    }
}