.flex{
    display: flex;
}

.grid{
    display: grid;
}

.gap1{
    gap: 1rem;
}

.gap1-2{
    gap: .5rem;
}

.container{
    padding: 1rem;
}

img{
    width: 20.6rem;
    height: 20.6rem;
    object-fit: cover;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}

.desktop-only{
    display: none;
}

.itemsCenter{
    align-items: center;
}

@media (width >= 80em){
    .container{
        padding: 1.5rem 2rem;
    }
    .desktop-only{
        display: block;
    }
    img{
        width: 17.87rem;
        height: 17.87rem;
    }
}